body{
	background:#9DC8C8;
	/*font-family: 'Lobster', cursive;
	font-family: 'Raleway', sans-serif;*/
}

h1, h2 {
	text-align: center;
	padding-top: 20px;
	font-family: 'Lobster', cursive;
}
.menu-item{
	margin: 5px 100px 5px;
  	text-align: center;
	font-family: 'Acme', sans-serif;
	font-family: 'Raleway', sans-serif;
	font-size: large;
}
#display{
	font-family: 'Lobster', cursive;
	font-size: xx-large;
	text-align: center;
}
#total{
	font-family: 'Raleway', sans-serif;
	font-size: large;
	text-align: center;
}